<div class="container col-md-8">
  <form #f="ngForm">
    <div class="form-group">
      <label class="form-label">Nom</label>
      <input
        class="form-control"
        name="name"
        type="text"
        ngModel
        #n="ngModel"
        [(ngModel)]="product.name"
        required
      />
    </div>
    <div class="alert alert-danger" *ngIf="n.invalid && n.touched">
      Entrer Nom
    </div>
    <div class="form-group">
      <label class="form-label">Type</label>
      <input
        class="form-control"
        name="type"
        type="text"
        ngModel
        [(ngModel)]="product.type"
      />
    </div>
    <div class="form-group">
      <label class="form-label">Prix</label>
      <input
        class="form-control"
        name="price"
        type="number"
        ngModel
        [(ngModel)]="product.price"
        #a="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Déscription</label>
      <textarea
        class="form-control"
        name="description"
        type="text"
        ngModel
        [(ngModel)]="product.description"
        #d="ngModel"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-primary"
      (click)="edit()"
      [disabled]="f.invalid"
    >
      Modifier
    </button>
  </form>
</div>
